.container {
    width: 90%;
    min-height: 90dvh;
    background-color: #06b6d4;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 10px;
}

.header{
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    position: relative;
    /* margin-top: 10px; */
    margin-bottom: 10px;

    
}

.title {
    /* margin-top: 0px; */
    /* text-align: center; */
    margin: 0 auto;
}

.description {
    font-size: 20px;
}

.error {
    font-size: 25px;
    font-weight: bold;
    color: rgb(231, 35, 35);
}

.unitBtn {
    /* width: fit-content; */
    padding: 10px 12px;
    border-radius: 50%;
    border: none;
    height: fit-content;
    cursor: pointer;
    text-align: center;
    position: absolute;
    right: 0;
    font-size: 18px;
    font-weight: bold;
    background-color: #F5E663;
    /* background-color: #eeeb3f; */
    /* margin-left: auto; */ 
}

.unitBtn:hover {
    background-color: #cfc354;
}

.unitBtn:active{
    background-color: black;
}

.forecast {
    /* display: block;
    margin: 0 auto; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    /* width: 90%; */
    margin: 0 auto; 
}

.weatherForm {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    align-items: center;
}

.weatherForm input {
    height: 25px;
    font-size: 16px;
}

.numInput{
    /* text-align: end; */
    margin-left: 15px;
    width: fit-content;
}

.weatherForm button{
    padding: 5px 10px;
    border-radius: 50px;
    /* font-weight: bold; */
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.weatherForm button:active{
    transform: translateY(2px);
}

.weatherForm button[type="submit"] {
    background-color: #4CC713;
    margin-left: 20px;
    color: white;
}

.weatherForm button[type="submit"]:hover {
    background-color: #3fa510;
}

.reset {
    margin-left: 15px;
    background-color: #f0003c;
    color: white;
}

.reset:hover {
    background-color: #d60136;
    
}

.current {
    /* margin: 0 auto; */
    padding: 10px;
    margin-left: 100px;
    margin-bottom: 20px;
    font-size: 18px;
    /* border: 2px solid black; */
    background-color: #f5f5DC;
    width: fit-content;
    /* text-align: center; */
    border-radius: 20px;
}

.city {
    font-weight: bold;
    font-size: 20px;
}

.current img{
    display: block;
    margin: 0 auto;
}

@media screen and (max-width: 500px) {
    .container {
        width: 100%;
        min-height: 100dvh;
        border-radius: 0px;
    }

    .unitBtn {
        position: fixed;
        right: 10px;
        top: 15px;
    }

    .header {
        margin-bottom: 20px;
    }

    .description{
        font-size: 18px;
    }

    .error {
        text-align: center;
    }

    .weatherForm {
        flex-direction: column;
        gap: 15px;
        /* align-items: start; */
    }

    .current {
        margin: 20px auto;
        /* margin-top: 20px; */
        /* ma */
    }

    .forecast {
        justify-content: center;
    }
}