.container {
    width: 90%;
    min-height: 90dvh;
    background-color: #06b6d4;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 10px;
}

.header{
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    position: relative;
    /* margin-top: 10px; */
    margin-bottom: 10px;

    
}

.title {
    /* margin-top: 0px; */
    /* text-align: center; */
    margin: 0 auto;
}

.error {
    color: rgb(231, 35, 35);
}

.unitBtn {
    /* width: fit-content; */
    padding: 10px 12px;
    border-radius: 50%;
    border: none;
    height: fit-content;
    cursor: pointer;
    text-align: center;
    position: absolute;
    right: 0;
    font-size: 18px;
    font-weight: bold;
    /* margin-left: auto; */ 
}

.forecast {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* margin: 0 auto; */ 
}

.weatherForm {
    margin-top: 20px;
    display: flex;
    gap: 5px;
    margin-bottom: 20px;
}

